<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <style>
      body {
        font-family: "Open Sans", "Helvetica Neue", sans-serif;
      }
      pre {
        padding: 20px;
        background: #fff;
        border: solid 1px #ccc;
        border-radius: 10px;
        font-family: menlo, monospace;
        word-wrap: break-word;
        }
    </style>

  </head>
  <body class="container-fluid" style="">
    <div class="row" style="">
      <div class="col-md-12">
        <h1>Dietcake Critical Error: {{ error_class_name }}</h1>
        <p style="">
        {{ errors.getMessage }}
        </p>

        <h2>Routes</h2>
        <table class="table table-bordered">
          <tr>
            <th>Controller</th>
            <td>{{ controller_name }}</td>
          </tr>

          <tr>
            <th>Action</th>
            <td>{{ action_name }}</td>
          </tr>
        </table>

        <h2>Stack Trace</h2>
        <pre>{{ error_trace }}</pre>

        <h2>Application</h2>
        <h3>Directories</h3>
        <dl class="dl-horizontal">
          <dt>App Root (#root)</dt><dd>{{ dirs.app_root }}</dd>
          <dt>Config</dt><dd>{{ dirs.config_dir }}</dd>
          <dt>Template</dt><dd>{{ dirs.template_dir }}</dd>
          <dt>Resource</dt><dd>{{ dirs.resource_dir }}</dd>
          <dt>Tmp</dt><dd>{{ dirs.tmp_dir }}</dd>
          <dt>Vendor (#vendor)</dt><dd>{{ dirs.vendor_dir }}</dd>
        </dl>

        <h2>Server Information</h2>
        <h3>GET</h3>
        <pre>{{ dump(get_params) }}</pre>
        <h3>POST</h3>
        <pre>{{ dump(post_params) }}</pre>
        <h3>COOKIE</h3>
        <pre>{{ dump(cookie_params) }}</pre>
        <h3>SERVER</h3>
        <pre>{{ dump(server_params) }}</pre>

      </div>
    </div>
  </body>
</html>
